@font-face {
  font-family: "BRBA_B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BRRA_R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRRA_R.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  font-family: "BRRA_R";
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/src/images/test.jpg);
  background-size: cover;
}
.maintext {
  font-family: "BRRA_R";
  color: black;
  margin: 10px;
  display: inline-block;
  flex-direction: column;
  font-size: 40px;
  padding-bottom: 40px;
}
.icon {
  font-size: 50px;
  font-family: "BRBA_B";
  display: inline-block;
}
.logotext {
  font-family: "BRBA_B";
  margin-left: 20px;
  font-size: 60px;
  margin: 30px;
  color: black;
  display: inline-block;
  flex-direction: column;
}
.startbutton {
  width: 150px;
  height: 60px;
  font-family: "BRRA_R";
  font-size: 25px;
  color: black;
  border: solid rgb(151, 153, 153);
  border-radius: 25px;
  box-shadow: 3px 3px 6px rgb(130, 175, 206);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  position: relative;
  padding: 10px;
}

.startbutton:hover {
  background-color: white;
}
