.content {
  width: 100%;
  height: calc(100vh - 122px);
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.childphoto {
  display: inline-block;
  flex-direction: column;
  height: 280px;
  width: 460px;
  padding-bottom: 35px;
}
.childclass {
  display: inline-block;
  flex-direction: column;
  display: flex;
  font-size: 30px;
  padding: 0;
}
.childclass2 {
  display: inline-block;
  flex-direction: column;
  display: flex;
  font-size: 30px;
  padding-top: 40px;
}
.childinfo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
}

.tag {
  display: inline-block;
  flex-direction: column;
  display: flex;
  font-size: 30px;
  white-space: pre-wrap;
}
