.content {
  height: 30em;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 8px 12px;
}

.child {
  margin: 0;
}
.childphoto {
  width: 30px;
}
