.content {
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0;
}

.child {
  margin: 0;
}
.childphoto {
  width: 30px;
}
