.section {
  width: 100%;
  height: calc(100vh - 122px);
  margin: 0;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}
.addkindergarten {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 40px;
}
